* {
  box-sizing: border-box;
}

h1{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 30px auto;
  flex-direction: column;
  background-color: rgba(38, 190, 227, 0.339);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px gray;
}

.body {
  display: flex;
}

.prof {
  /* display: flex; */
}

.id {
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 10px;
}

.name {
  color: red;
  font-weight: bold;
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}